
.Banner{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: auto;
}
.Banner-img{
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(0.75);
}
.Banner>p{
    position: absolute;
    left: 25.9%;
    top: 20%;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    color: white;
}


@media screen and (max-width: 768px) {

    .Banner{
        height: 110px;
    }
    .Banner-img{
        width: 100%;
        border-radius: 10px;
    }
    .Banner>p{
        width: 60%;
        left: 5%;
        top: 20%;
        margin: 0;
        font-size: 20px;
        white-space: pre-line;
    }
}