.Banner_logement{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 415px;
}
.Img_Logement{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: absolute;
}

.fa-chevron-left {
    position: absolute;
    top: 156px;
    left: 23px;
    font-size: 80px;
    color: white;
}

.fa-chevron-right{
    position: absolute;
    top: 156px;
    right: 23px;
    font-size: 80px;
    color: white;
}

.img-number {
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat';
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {

.Banner_carroussel {
    display: flex;
    justify-content: center;
    align-items: center;
 }   
.Banner_logement{
    width: 90%;
    height: 255px;
}

.fa-chevron-left  {
    top: 90px;
    font-size: 60px;
    left: 15px;
}
.fa-chevron-right  {
    top: 90px;
    font-size: 60px;
    right: 15px;
}
}