.Dropdown {

    height: auto;
    width: 1023px;
    display: flex;
    flex-direction: column;
margin-top: 33px;
}
.Dropdown_title {
    position: relative;
    height: 47px;
    max-width: 100%;
    padding-left: 18px;
    padding-right: 18px; 
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Dropdown_title>h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
.dropdown>i {
    font-size: 24px;
}

.Dropdown_Text {
    position: relative;
    width: 1023px;
    height: 150px;
    color: #FF6060;
    background: #F7F7F7;
    border-radius: 5px;

}
.Dropdown_Text>p {
    padding: 29px;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}