.Dropdown {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}
.Dropdown_title {
    position: relative;
    height: 47px;
    max-width: 100%;
    padding-left: 18px;
    padding-right: 18px; 
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.Dropdown_title>h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
}
.dropdown>i {
    font-size: 24px;
}

.Dropdown_Box {
    position: relative;
    width: 100%;
    height: auto;
    color: #FF6060;
    background: #F7F7F7;
    border-radius: 5px;
    margin: 0;
    padding: 29px 0 0 0;

}
.Dropdown_Box>p {
    padding-left: 29px;
    margin: 0;
    font-family: Montserrat;

    font-size: 24px;
}
.Dropdown_Box>li {
    padding-left: 29px;
    font-family: Montserrat;
    font-size: 24px;
    color: #FF6060;
}