.Logement-body {
    max-width: 1240px;
}
.Logement-title {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 96, 96, 1);
    margin-top: 30px;
    margin-bottom: 0;
}

.Logement-city {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 96, 96, 1);
    margin-top: 0;
}

.Logement-Dropdown {
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
}

.Logement-identity {
    display: flex;
    justify-content: space-between;
}

.Logement-host {
    text-align: right;
}

.Tag-container {
    display: flex;
}

@media screen and (max-width: 768px) {

    .Logement-body {
        margin: 0;
    }

    .Logement-identity {
        margin: 5%;
        width: 90%;
        flex-direction: column;
    }
    .Logement-title {
        margin-top: 0;
        font-size: 18px;
    }
    .Logement-host {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .Logement-city {
        font-size: 14px;
    }
      .Logement-Dropdown {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        column-gap: 0;
    }
  }