.Logement-body {
    max-width: 1240px;
}
.Logement-title {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 96, 96, 1);
    margin-top: 30px;
    margin-bottom: 0;
}

.Logement-city {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 96, 96, 1);
    margin-top: 0;
}

.Logement-Dropdown {
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
}

.Logement-identity {
    display: flex;
    justify-content: space-between;
}

.Logement-host {
    text-align: right;
}

.Tag-container {
    display: flex;
}