.TagList {
    display: flex;
    gap: 10px;
}

.Tag {
    font-family: Montserrat;
    font-size: 14px;
    color: white;
    font-style: normal;
    padding : 3px 40px 5px 40px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgba(255, 96, 96, 1);
}

@media screen and (max-width: 768px) {

    .TagList {
        display: flex;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .Tag {
        display: flex;
        font-weight: lighter;
        font-size: 12px;
        padding : 3px 10px 5px 10px;
        justify-content: center;
        align-items: center;
    }
}